{% extends 'learning_logs/base.html' %}

{% block content %}
    <p>新增一个主题:</p>

        <form action="{% url 'learning_logs:new_topic'%}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">新增</button>
        </form>
{% endblock content %}