{% extends "learning_logs/base.html" %}

{% block content %}

<p>Topics</p>

<ul>
    {% for topic in topics %}
    <li>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </li>   
    {% empty %}
    {% endfor %}
</ul>
<a href="{% url 'learning_logs:new_topic' %}">新增一个主题</a>
{% endblock content %}


