{% extends "learning_logs/base.html" %}

{% block content %}

<p>Topics:{{ topic }}</p>
<p>Entries:</p>
<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">新增主题</a>
</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{entry.date_added|date:'M d, Y H:i'}}</p>
        <p>{{entry.text|linebreaks}}</p>
        <p>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                Edit entry
            </a>
        </p>
    </li>
    {% empty %}
    <li>这是一个空的主题.</li>
    {% endfor %}
</ul>

{% endblock content %}